*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;

}
h1{
    font-size: 6rem;
    color: white;
}
h3{
    font-size: 2.5rem;
    font-weight: 400;
    color: black;
}
.menu{
    width: 100%;
    height: 60px;
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-item{
    font-size: 1.8rem;
    font-weight: 400;
    color: darkgray;
    padding: 0 20px;
}
.pres{
    height: 60vh;
    background-color: yellow;
    background-image: url('./ressources/mohammad-rahmani-1VW6HLOQE5A-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pres-content{
    backdrop-filter: blur(8px);
    background:rgb(255, 251, 251,0.2);
    height:auto;
    width: 60%;
    display: flex;
    flex-direction: row;
}
.pres-content-txt{
    width: 50%;
    padding: 20px;
    color: #f1f1f1;
    font-size: 1.5rem;
}
.pres-content-txt h2{
    font-size: 1.6rem;
    color: #EA2027;
    margin-bottom: 40px;
}
.pres-content-txt p{
    position: relative;
    margin-top: auto;
    text-align: justify;
}
.pres-content-pic{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 150px;
    height: 45px;
    font-size: 1.6rem;
    background-color: #1B1464;
    color: #f1f1f1;
    font-weight: 700;
    border:0;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.02);
}
.formation-container{
    width: auto;
    padding:0 10%;
    color: #636e72;
}
.formation-card{
    width: 90%;
    margin: 50px auto;
}
.formation-card p{
    font-size: 1.5rem;
    font-weight: 300;
}
.formation-body{
    width: 80%;
    margin: 20px auto;
    display: grid;
    grid-template-areas:
    "c1 c2"
    "c1 c3"
    ;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.for-pic{
    width: 100%;
    box-shadow: 5px 5px 15px darkgray;
}
.formation-pic1{
    grid-area: c1;
    height: 100%;
}
.formation-pic2{
    grid-area: c3;
}
.formation-pic3{
    grid-area: c2;
}
#fb2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.fb2-pic{
    width: 20%;
    height: 400px;
}
.techno-icon{
    display: flex;
    justify-content: center;
}
.icon{
    width: 40px;
    padding: 0 10px;
    margin-top: 10px;
}
.for2{
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 15px;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.icon-link{
    width:40px;
    padding:0 10px;
}