*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}
.main{
    display: none;
    opacity: 0;
}
h1{
    font-size: 6rem;
    color: white;
}
h3{
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
}
p{
    font-size: 1.6rem;
    font-weight: 300;
}
#intro{
    font-weight: 400;
    color: #a4b0be;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    border-bottom: 1px solid black;
}
.reso{
    justify-self: flex-end;
    margin-left: auto;
    margin-right:10px
}
.menu-label{
    justify-self: flex-start;
    margin-right: auto;
    margin-left: 10px;
}
a, a:visited{
    text-decoration: none;
}
a:hover, .icon:hover, .icon-link:hover{
    transform: scale(1.05);
    transition: transform 0.2s ease;
}
.menu-item{
    font-size: 1.8rem;
    font-weight: 400;
    color:#1B1464;
    padding: 0 20px;
}
.pres{
    height: 100vh;
    background-image: url('./ressources/mohammad-rahmani-1VW6HLOQE5A-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pres-active{
    margin-top:0;
    transform: 0;
}
.pres-content{
    backdrop-filter: blur(8px);
    background:rgb(255, 251, 251,0.1);
    height:auto;
    width: 60%;
    display: flex;
    flex-direction: row;
}
.pres-content-txt{
    width: 50%;
    padding: 20px;
    color: #f1f1f1;
    font-size: 1.5rem;
}
.pres-content-txt h2{
    font-size: 1.6rem;
    font-style: italic;
    color: #EA2027;
    margin-bottom: 40px;
}
.pres-content-txt p{
    position: relative;
    margin-top: auto;
    text-align: justify;
}
.pres-content-pic{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    width: 150px;
    height: 45px;
    font-size: 1.6rem;
    background-color: #1B1464;
    color: #f1f1f1;
    font-weight: 700;
    border:0;
    box-shadow: 5px 5px 15px black;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.02);
}
.projet-container{
    width: auto;
    padding:0 10%;
    margin: 50px 0;
    background-color: #f1f2f6;
}
.projet-card{
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.projet-pics{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-right: 10%;
}
.projet-footer{
    background-color: #1B1464;
    width: fit-content;

}
.projet-txt{
    display: flex;
    height: initial;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    color: black;
}
.for-pic{
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.projet-pic1{
    height: 100%;
}

.techno-icon{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.icon{
    width: 40px;
    padding: 0 10px;
}
.for2{
    background-color: #f6f6f6;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    
}
.icon-link{
    width:40px;
    padding-right:10px;
    cursor: pointer;
}
.formation{
    height: 100vh;
}
.super-container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #747d8c;
}
.super-content{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.super-txt{
    width:40%;
    height: 80%;
}
.super-pics{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.super-footer{
    width: 100%;
    height: 60px;
    display: flex;
    direction: row;
    justify-content: center;
}
.super-pic{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
#pic1{
    position: relative;
    top: 20%;
    z-index: 500;
}
#pic2{
    position: relative;
    right: 20%;
    top: 40%; 
}
#pic3{
    position: relative;
    left: 20%;
    bottom: 10%;
}
.super-txt .desc{
    margin: 30% 10% 10% 10%;
    color: white;
}
.super-pic:hover, .for-pic:hover{
    z-index: 1500;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.super-footer .icon-link{
    padding: 0 15px;
}
